# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.npmrc
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# Environment variables
.env
.env*.local

# Astro
.astro/
dist/
node_modules/

# Common ignores
out/
.DS_Store
.vercel
.agent/

# Windows / OneDrive alternate stream files
*Zone.Identifier
*.pdf
.env*
